<section class="testimonial-two">
    <div class="testimonial-two__shape-1">
        {% if data.shape_1 %}
            <img src="{{ upload_url(data.shape_1) }}" alt="shape">
        {% endif %}
    </div>
    <div class="testimonial-two__shape-2">
        {% if data.shape_2 %}
            <img src="{{ upload_url(data.shape_2) }}" alt="shape">
        {% endif %}
    </div>
    <div class="container">
        <div class="section-title text-center sec-title-animation {% if data.enable_animation %}animation-style1{% endif %}">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape-1"></div>
                <span class="section-title__tagline">{{ data.section_tagline|default('Testimonials') }}</span>
                <div class="section-title__tagline-shape-2"></div>
            </div>
            <h2 class="section-title__title {% if data.enable_animation %}title-animation{% endif %}">{{ data.section_title_1|default('Customer Experiences') }} <br> {{ data.section_title_2|default('That') }} <span>{{ data.section_title_3|default('Speak Volumes') }}</span></h2>
        </div>
        <div class="testimonial-two__carousel owl-theme owl-carousel">
            {% if data.use_testimonials_post_type %}
                {% set ids_array = data.testimonial_ids ? data.testimonial_ids|split(',') : [] %}
                {% set testimonials = get_posts('testimonials', {
                    'limit': data.items_limit|default(6),
                    'taxonomy': data.testimonials_category,
                    'ids': ids_array,
                    'orderby': data.orderby|default('date'),
                    'order': data.order|default('DESC')
                }) %}
                
                {% if testimonials %}
                    {% for testimonial in testimonials %}
                        <!-- Testimonial Two Single Start -->
                        <div class="item">
                            <div class="testimonial-two__single">
                                <div class="testimonial-two__single-inner">
                                    <div class="testimonial-two__star">
                                        {% set rating = testimonial.metas.rating|default(5) %}
                                        {% for i in 1..5 %}
                                            {% if i <= rating %}
                                                <span class="icon-pointed-star"></span>
                                            {% else %}
                                                <span class="icon-star"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p class="testimonial-two__text">{{ testimonial.description|raw }}</p>
                                </div>
                                <div class="testimonial-two__client-info">
                                    <div class="testimonial-two__client-img">
                                        {% if testimonial.thumbnail %}
                                            <img src="{{ upload_url(testimonial.thumbnail) }}" alt="{{ testimonial.metas.name|default(testimonial.title) }}">
                                        {% else %}
                                            <img src="{{ asset('images/testimonial/testimonial-2-' ~ loop.index ~ '.jpg') }}" alt="{{ testimonial.metas.name|default(testimonial.title) }}">
                                        {% endif %}
                                    </div>
                                    <div class="testimonial-two__client-content">
                                        <h4 class="testimonial-two__client-name">
                                            {% if testimonial.metas.testimonial_url %}
                                                <a href="{{ testimonial.metas.testimonial_url }}">{{ testimonial.metas.name|default(testimonial.title) }}</a>
                                            {% else %}
                                                <a href="{{ testimonial.url }}">{{ testimonial.metas.name|default(testimonial.title) }}</a>
                                            {% endif %}
                                        </h4>
                                        <p class="testimonial-two__sub-title">{{ testimonial.metas.position|default('Client') }}</p>
                                    </div>
                                </div>
                                <div class="testimonial-two__quote">
                                    <span class="icon-right-quote"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Two Single End -->
                    {% endfor %}
                {% endif %}
            {% else %}
                {% if data.custom_testimonials %}
                    {% for testimonial in data.custom_testimonials %}
                        <!-- Testimonial Two Single Start -->
                        <div class="item">
                            <div class="testimonial-two__single">
                                <div class="testimonial-two__single-inner">
                                    <div class="testimonial-two__star">
                                        {% set rating = testimonial.rating|default(3) %}
                                        {% for i in 1..5 %}
                                            {% if i <= rating %}
                                                <span class="icon-pointed-star"></span>
                                            {% else %}
                                                <span class="icon-star"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p class="testimonial-two__text">{{ testimonial.testimonial_text }}</p>
                                </div>
                                <div class="testimonial-two__client-info">
                                    <div class="testimonial-two__client-img">
                                        {% if testimonial.client_image %}
                                            <img src="{{ upload_url(testimonial.client_image) }}" alt="{{ testimonial.client_name }}">
                                        {% else %}
                                            <img src="{{ asset('images/testimonial/testimonial-2-' ~ loop.index ~ '.jpg') }}" alt="{{ testimonial.client_name }}">
                                        {% endif %}
                                    </div>
                                    <div class="testimonial-two__client-content">
                                        <h4 class="testimonial-two__client-name">
                                            {% if testimonial.testimonial_url %}
                                                <a href="{{ testimonial.testimonial_url }}">{{ testimonial.client_name }}</a>
                                            {% else %}
                                                <a href="javascript:void(0)">{{ testimonial.client_name }}</a>
                                            {% endif %}
                                        </h4>
                                        <p class="testimonial-two__sub-title">{{ testimonial.client_position }}</p>
                                    </div>
                                </div>
                                <div class="testimonial-two__quote">
                                    <span class="icon-right-quote"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Two Single End -->
                    {% endfor %}
                {% else %}
                    <!-- Default Testimonials -->
                    <!-- Testimonial Two Single Start -->
                    <div class="item">
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__single-inner">
                                <div class="testimonial-two__star">
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                                <p class="testimonial-two__text">Absolutely fantastic experience! The team exceeded our expectations and delivered a solution that perfectly met our needs. Their attention to detail and commitment to quality is unmatched.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="{{ asset('images/testimonial/testimonial-2-1.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-two__client-content">
                                    <h4 class="testimonial-two__client-name"><a href="javascript:void(0)">Thomas Alison</a></h4>
                                    <p class="testimonial-two__sub-title">UI/UX Designer</p>
                                </div>
                            </div>
                            <div class="testimonial-two__quote">
                                <span class="icon-right-quote"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Two Single End -->
                    <!-- Testimonial Two Single Start -->
                    <div class="item">
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__single-inner">
                                <div class="testimonial-two__star">
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                                <p class="testimonial-two__text">Absolutely fantastic experience! The team exceeded our expectations and delivered a solution that perfectly met our needs. Their attention to detail and commitment to quality is unmatched.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="{{ asset('images/testimonial/testimonial-2-2.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-two__client-content">
                                    <h4 class="testimonial-two__client-name"><a href="javascript:void(0)">Sarah Williams</a></h4>
                                    <p class="testimonial-two__sub-title">Marketing Manager</p>
                                </div>
                            </div>
                            <div class="testimonial-two__quote">
                                <span class="icon-right-quote"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Two Single End -->
                    <!-- Testimonial Two Single Start -->
                    <div class="item">
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__single-inner">
                                <div class="testimonial-two__star">
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-pointed-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                                <p class="testimonial-two__text">Absolutely fantastic experience! The team exceeded our expectations and delivered a solution that perfectly met our needs. Their attention to detail and commitment to quality is unmatched.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="{{ asset('images/testimonial/testimonial-2-3.jpg') }}" alt="">
                                </div>
                                <div class="testimonial-two__client-content">
                                    <h4 class="testimonial-two__client-name"><a href="javascript:void(0)">James Anderson</a></h4>
                                    <p class="testimonial-two__sub-title">Product Designer</p>
                                </div>
                            </div>
                            <div class="testimonial-two__quote">
                                <span class="icon-right-quote"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Two Single End -->
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        if ($(".testimonial-two__carousel").length) {
            $(".testimonial-two__carousel").owlCarousel({
                loop: {{ data.carousel_loop ? 'true' : 'false' }},
                margin: {{ data.carousel_margin|default(30) }},
                nav: {{ data.carousel_nav ? 'true' : 'false' }},
                dots: {{ data.carousel_dots ? 'true' : 'false' }},
                smartSpeed: {{ data.carousel_smart_speed|default(500) }},
                autoplay: {{ data.carousel_autoplay ? 'true' : 'false' }},
                autoplayTimeout: {{ data.carousel_autoplay_timeout|default(5000) }},
                navText: [
                    '<span class="icon-right-arrow-1"></span>',
                    '<span class="icon-right-arrow-1"></span>',
                ],
                responsive: {
                    0: {
                        items: {{ data.carousel_items_mobile|default(1) }}
                    },
                    768: {
                        items: {{ data.carousel_items_tablet|default(2) }}
                    },
                    992: {
                        items: {{ data.carousel_items_medium|default(2) }}
                    },
                    1200: {
                        items: {{ data.carousel_items_large|default(3) }}
                    },
                    1320: {
                        items: {{ data.carousel_items_desktop|default(3) }}
                    }
                }
            });
        }
    });
</script> 