{% for item in items %}
<li class="dropdown {% if item.children %}{% endif %} {% if item.active %}current{% endif %}">
    {% if item.children %}
        <a class="nav-link-item drop-trigger" href="{{ item.link|default('#') }}" {% if item.target == '_blank' %}target="_blank"{% endif %}>
            {{ item.label }}
        </a>
        <ul class="shadow-box" id="submenu-{{ loop.index }}">
            {% for child in item.children %}
                <li class="sub-menu--item{% if child.active %} current{% endif %}">
                    <a href="{{ child.link }}" {% if child.target == '_blank' %}target="_blank"{% endif %} {% if child.active %}aria-current="page"{% endif %}>
                        {{ child.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="{{ item.link }}" {% if item.target == '_blank' %}target="_blank"{% endif %} {% if item.active %}aria-current="page"{% endif %}>
            <span class="icon-right-arrow-2"></span>{{ item.label }}
        </a>
    {% endif %}
</li>
{% endfor %}